@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #25E5DA;
    --foreground: #FBFCFA;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-background2 {
  background-color: #FBFCFA; /* Warna background2 */
}

.rounded-b-extra {
  border-bottom-left-radius: 3rem; /* Sesuaikan nilai sesuai kebutuhan */
  border-bottom-right-radius: 3rem; /* Sesuaikan nilai sesuai kebutuhan */
}
