@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  color: var(--foreground);
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #25E5DA;
    --foreground: #FBFCFA;
  }
}

@layer utilities {
  .text-balance {
    color: #21FF5C; /* Tambahkan aturan warna teks */
    text-wrap: balance;
  }
}

.bg-background2 {
  background-color: #FBFCFA; /* Warna background2 */
}

.rounded-b-extra {
  border-bottom-left-radius: 2rem; /* Sesuaikan nilai sesuai kebutuhan */
  border-bottom-right-radius: 2rem; /* Sesuaikan nilai sesuai kebutuhan */
}